$bg-color: #a3bcf9;
//$bg-color2: #354d6a;
$nav: #7796cb;
$grey: #c9cad9;
$light-violet: #d1d2f9;
$violet: rgb(130, 86, 143);
$text: #3f3f3f;
$bg-element: #b3c5f4;
$text-area: #c3ddfe;
$text-area-focus: #acc6fd;
