@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-image: linear-gradient(180deg, rgba(20, 20, 23, 0.6237088585) 0%, rgba(77, 83, 100, 0) 50%, rgba(31, 36, 30, 0) 100%, rgba(73, 94, 69, 0.1699273459) 100%), url("../images/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.form-btn {
  border: 2px solid #82568f;
  height: 40px;
  width: 100px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: transparent;
  color: #fdfdfd;
  border: 2px solid rgb(198, 216, 255);
}

.form-btn:hover {
  border: 1px solid #a3bcf9;
  color: #303030;
  background-color: rgba(198, 216, 255, 0.7);
  font-weight: 700;
}

nav {
  position: fixed;
  z-index: 3;
  background: linear-gradient(180deg, rgba(48, 48, 48, 0.8421962535) 0%, rgba(48, 48, 48, 0.2903755252) 74%, rgba(48, 48, 48, 0) 100%);
  height: 50px;
  width: 100%;
  text-transform: uppercase;
}
nav .nav-bar {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}
nav .nav-bar .home-btn {
  color: #d1d2f9;
  font-size: xx-large;
  margin-left: 5%;
  transition: 0.3s;
}
nav .nav-bar .home-btn:hover {
  font-size: 35px;
  color: #82568f;
}
nav .nav-bar .menu {
  padding: 0 50px;
}
nav .nav-bar .menu .menu-list {
  display: flex;
  list-style-type: none;
}
nav .nav-bar .menu .menu-list li .dropdown {
  display: none;
  list-style-type: none;
  transition: 0.3s;
}
nav .nav-bar .menu .menu-list li .dropdown:hover {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #fdfdfd;
  margin-top: 5px;
}
nav .nav-bar .menu .menu-list li .dropdown:hover li a {
  margin-top: 5px;
  padding: 5px 5px;
  font-size: 14px;
  list-style-type: none;
  color: #82568f;
  transition: 0.3s;
}
nav .nav-bar .menu .menu-list li .dropdown:hover li a:hover {
  color: #b3c5f4;
}
nav .nav-bar .menu .menu-list li .dropdown:hover li:hover {
  background-color: #82568f;
}
nav .nav-bar .menu .menu-list li .menu-list-opt {
  padding: 10px 10px;
  font-size: 14px;
  color: #d1d2f9;
  transition: 0.3s;
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover {
  background: radial-gradient(circle, rgba(198, 216, 255, 0.4360337885) 0%, rgba(198, 216, 255, 0.5228685224) 50%, rgba(198, 216, 255, 0) 100%);
  padding: 5px 10px;
  color: #82568f;
  font-weight: bold;
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover ~ .dropdown,
nav .nav-bar .menu .menu-list li .menu-list-opt:hover .dropdown:hover {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #fdfdfd;
  margin-top: 5px;
  transition: 0.2s;
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover ~ .dropdown li a,
nav .nav-bar .menu .menu-list li .menu-list-opt:hover .dropdown:hover li a {
  margin-top: 5px;
  padding: 5px 5px;
  font-size: 14px;
  list-style-type: none;
  color: #82568f;
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover ~ .dropdown li:hover,
nav .nav-bar .menu .menu-list li .menu-list-opt:hover .dropdown:hover li:hover {
  background-color: #82568f;
}
nav .nav-bar .menu .menu-list li #login-btn {
  border: 3px solid rgb(198, 216, 255);
  transition: 0.3s;
}
nav .nav-bar .menu .menu-list li #login-btn:hover {
  border: 1px solid rgb(198, 216, 255);
  font-weight: bold;
  padding: 5px 30px;
  color: rgb(198, 216, 255);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container,
.password-container,
.nick-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px auto;
  width: 30%;
  text-transform: uppercase;
  border: 2px solid rgb(198, 216, 255);
  box-shadow: 0px 0px 5px #c9cad9;
  background-color: rgba(48, 48, 48, 0.5);
}
.login-container .h3-header,
.password-container .h3-header,
.nick-container .h3-header {
  margin: 20px 0;
  color: #fdfdfd;
  font-size: 30px;
}
.login-container .login-error,
.password-container .login-error,
.nick-container .login-error {
  color: rgb(223, 156, 156);
}
.login-container .login-message,
.password-container .login-message,
.nick-container .login-message {
  color: rgb(52, 144, 36);
}
.login-container .credentials-container,
.login-container .password-change,
.login-container .nick-change,
.password-container .credentials-container,
.password-container .password-change,
.password-container .nick-change,
.nick-container .credentials-container,
.nick-container .password-change,
.nick-container .nick-change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.login-container .credentials-container .credentials,
.login-container .password-change .credentials,
.login-container .nick-change .credentials,
.password-container .credentials-container .credentials,
.password-container .password-change .credentials,
.password-container .nick-change .credentials,
.nick-container .credentials-container .credentials,
.nick-container .password-change .credentials,
.nick-container .nick-change .credentials {
  padding: 10px 0;
}
.login-container .credentials-container .credentials input,
.login-container .password-change .credentials input,
.login-container .nick-change .credentials input,
.password-container .credentials-container .credentials input,
.password-container .password-change .credentials input,
.password-container .nick-change .credentials input,
.nick-container .credentials-container .credentials input,
.nick-container .password-change .credentials input,
.nick-container .nick-change .credentials input {
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: 2px solid rgb(198, 216, 255);
  resize: none;
}
.login-container .credentials-container .credentials input:hover,
.login-container .password-change .credentials input:hover,
.login-container .nick-change .credentials input:hover,
.password-container .credentials-container .credentials input:hover,
.password-container .password-change .credentials input:hover,
.password-container .nick-change .credentials input:hover,
.nick-container .credentials-container .credentials input:hover,
.nick-container .password-change .credentials input:hover,
.nick-container .nick-change .credentials input:hover {
  border: 1px solid rgb(198, 216, 255);
  background-color: rgba(198, 216, 255, 0.4);
}
.login-container .credentials-container .credentials input::placeholder,
.login-container .password-change .credentials input::placeholder,
.login-container .nick-change .credentials input::placeholder,
.password-container .credentials-container .credentials input::placeholder,
.password-container .password-change .credentials input::placeholder,
.password-container .nick-change .credentials input::placeholder,
.nick-container .credentials-container .credentials input::placeholder,
.nick-container .password-change .credentials input::placeholder,
.nick-container .nick-change .credentials input::placeholder {
  color: rgb(198, 216, 255);
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding: 90px 0;
  width: 100vw;
  background: linear-gradient(180deg, rgba(20, 20, 23, 0) 0%, rgba(20, 25, 41, 0.5788909314) 24%, rgba(69, 81, 94, 0.5872942927) 71%, rgba(31, 36, 30, 0) 90%);
}
.stats-container .stats-title {
  font-size: 53px;
  font-weight: 900;
  color: rgb(198, 216, 255);
  font-family: "Bebas Neue", sans-serif;
}
.stats-container .stats-figures table tr td {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: #dcddde;
  padding: 5px 15px;
}
.stats-container .stats-figures table tr .stats-number {
  color: #d1d2f9;
}

.posts-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 50px;
}
.posts-container .post-box {
  min-width: 40vh;
  flex: 2 0 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  height: 300px;
  margin: 15px 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(48, 48, 48, 0.5);
  transition: 0.3s;
  background-size: cover;
  background-position: center;
}
.posts-container .post-box a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts-container .post-box a .post-box-header {
  display: flex;
  flex-direction: column;
  height: 120px;
  background: rgba(48, 48, 48, 0.5);
}
.posts-container .post-box a .post-box-header .post-box-title {
  padding: 15px 20px;
  color: #fdfdfd;
  font-size: 26px;
  text-shadow: 2px 2px 5px #303030;
  text-transform: uppercase;
  font-weight: 700;
}
.posts-container .post-box a .post-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(48, 48, 48, 0.5);
}
.posts-container .post-box a .post-content .post-box-date {
  padding: 5px 20px;
  color: #fdfdfd;
  font-size: 12px;
}
.posts-container .post-box a .post-content .post-box-text {
  padding: 10px 20px;
  text-align: justify;
  height: 200px;
  color: #fdfdfd;
  text-shadow: 2px 2px 10px #303030;
  font-size: 20px;
  padding-bottom: 20px;
}
.posts-container .post-box:hover {
  box-shadow: 0 0 10px 1px rgba(198, 216, 255, 0.4);
}
.posts-container .post-box:hover a .post-box-header {
  background: none;
}
.posts-container .post-box:hover a .post-content {
  background: none;
}

.main-post-container {
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.main-post-container .post-header {
  display: flex;
  padding: 80px 100px 0 100px;
  height: 350px;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
}
.main-post-container .post-header .post-bio {
  margin-bottom: 30px;
}
.main-post-container .post-header .post-bio .post-title {
  color: #fdfdfd;
  text-shadow: 2px 2px 5px #303030;
}
.main-post-container .post-header .post-bio .post-author {
  font-size: 20px;
  color: #fdfdfd;
  text-shadow: 0px 2px 5px 5px #303030;
}
.main-post-container .post-header .post-bio .post-date {
  font-size: 14px;
  color: #fdfdfd;
  text-shadow: 0px 2px 5px 5px #303030;
}
.main-post-container .post-header .post-control-panel {
  display: flex;
  column-gap: 15px;
  margin-bottom: 30px;
}
.main-post-container .post-header .post-control-panel .post-control-btn {
  border: 1px solid #fdfdfd;
}
.main-post-container .post-header .post-control-panel .post-control-btn .control-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #fdfdfd;
  border: none;
}
.main-post-container .post-header .post-control-panel .post-control-btn .control-btn i {
  font-size: 20px;
}
.main-post-container .post-header .post-control-panel .post-control-btn .control-btn:hover {
  background-color: rgba(198, 216, 255, 0.6);
  color: #303030;
  border: 1px solid #303030;
}
.main-post-container .post-content {
  background: rgba(48, 48, 48, 0.5);
  line-height: 30px;
  letter-spacing: 1px;
  padding: 50px 0;
  text-align: justify;
  color: #fdfdfd;
  padding: 40 100px;
}
.main-post-container .post-comment-section {
  padding: 0 10px;
  border-top: 2px solid rgb(198, 216, 255);
  background-color: rgba(53, 79, 133, 0.6823529412);
}
.main-post-container .post-comment-section .post-new-comment {
  padding: 0 100px;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-header .post-new-comment-author {
  padding: 10px 0;
  color: #fdfdfd;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-header .post-new-comment-author #comment-user {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(198, 216, 255);
  text-shadow: 0 0 2px 4px rgba(198, 216, 255, 0.4);
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-text {
  padding: 10px 0;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-text form textarea {
  padding: 10px 10px;
  border: none;
  background-color: #c3ddfe;
  width: 100%;
  outline: none;
  resize: none;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-text form .form-btn {
  margin: 10px 0;
}
.main-post-container .post-comment-section .post-comment {
  display: flex;
  width: 100vw;
  border-top: 3px solid #a3bcf9;
  background-color: rgba(119, 150, 203, 0.9);
  padding: 40px 100px;
  margin: 5px 0;
}
.main-post-container .post-comment-section .post-comment .post-comment-header {
  width: 150px;
  border-right: 1px solid rgb(198, 216, 255);
}
.main-post-container .post-comment-section .post-comment .post-comment-header .post-comment-profile-img {
  width: 50px;
  height: 50px;
}
.main-post-container .post-comment-section .post-comment .post-comment-header .post-comment-author {
  padding: 5px 0;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(198, 216, 255);
}
.main-post-container .post-comment-section .post-comment .post-comment-content {
  color: #fff;
  margin-left: 30px;
  text-shadow: rgba(48, 48, 48, 0.5);
}
.main-post-container .post-comment-section .post-comment .post-comment-content .post-comment-date {
  font-size: 12px;
  color: #303030;
  padding: 5px 0;
}
.main-post-container .post-comment-section .post-comment .post-comment-action {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  flex-wrap: nowrap;
  margin-left: auto;
  border: none;
  font-size: 18px;
  color: rgb(198, 216, 255);
}
.main-post-container .post-comment-section .post-comment .post-comment-action i:hover {
  cursor: pointer;
}
.main-post-container .post-comment-section .post-comment .post-comment-action form button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #82568f;
}

.main-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-contact-container .contact-header {
  height: 10vh;
  width: 100%;
}
.main-contact-container .contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #81a4d3;
  padding: 20px 0;
}
.main-contact-container .contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  border-right: 1px solid #82568f;
}
.main-contact-container .contact .contact-form .h3-header {
  font-size: 24px;
  margin-bottom: 50px;
}
.main-contact-container .contact .contact-form form .contact-fields {
  padding: 5px 0;
}
.main-contact-container .contact .contact-form form .contact-fields input {
  padding: 10px 10px;
  border: none;
  background-color: #c3ddfe;
  width: 100%;
  outline: none;
  resize: none;
}
.main-contact-container .contact .contact-form form .contact-fields input:focus {
  border: 2px solid #82568f;
  background-color: #acc6fd;
}
.main-contact-container .contact .contact-form form .contact-fields textarea {
  padding: 10px 10px;
  border: none;
  background-color: #c3ddfe;
  width: 100%;
  outline: none;
  resize: none;
}
.main-contact-container .contact .contact-form form .contact-fields textarea:focus {
  border: 2px solid #82568f;
  background-color: #acc6fd;
}
.main-contact-container .contact .contact-form form div .form-btn {
  margin-top: 10px;
}
.main-contact-container .contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.main-contact-container .contact .contact-info .h3-header {
  font-size: 24px;
  margin-bottom: 50px;
}
.main-contact-container .contact .contact-info .contact-general-info {
  line-height: 30px;
  margin-bottom: 10px;
  color: #fdfdfd;
}
.main-contact-container .contact .contact-info .contact-social .fa-brands {
  font-size: 30px;
  padding: 0 5px;
  color: #82568f;
}

footer {
  position: fixed;
  margin-top: 5px;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgba(119, 150, 203, 0.9);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
footer .footer-text {
  text-align: center;
  color: rgb(198, 216, 255);
  font-size: 12px;
}/*# sourceMappingURL=layout.css.map */