@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-image: linear-gradient(180deg, rgba(20, 20, 23, 0.6237088585) 0%, rgba(77, 83, 100, 0) 50%, rgba(31, 36, 30, 0) 100%, rgba(73, 94, 69, 0.1699273459) 100%), url("../images/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.form-btn {
  border: 2px solid rgb(130, 86, 143);
  height: 40px;
  width: 100px;
  color: rgb(130, 86, 143);
  font-weight: 500;
  text-transform: uppercase;
  background-color: #b3c5f4;
  transition: 0.3s;
}

.form-btn:hover {
  border: 2px solid #a3bcf9;
  color: #b3c5f4;
  background-color: rgb(130, 86, 143);
}

nav {
  background-color: #7796cb;
  height: 50px;
  width: 100%;
  text-transform: uppercase;
}
nav .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}
nav .nav-bar .home-btn {
  color: #d1d2f9;
  font-size: xx-large;
  margin-left: 5%;
  transition: 0.3s;
}
nav .nav-bar .home-btn:hover {
  color: rgb(130, 86, 143);
}
nav .nav-bar .menu {
  padding: 0 50px;
}
nav .nav-bar .menu .menu-list {
  display: flex;
  list-style-type: none;
}
nav .nav-bar .menu .menu-list li .dropdown {
  display: none;
  list-style-type: none;
}
nav .nav-bar .menu .menu-list li .dropdown:hover {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #b3c5f4;
  margin-top: 15px;
}
nav .nav-bar .menu .menu-list li .dropdown:hover li a {
  margin-top: 5px;
  padding: 5px 5px;
  font-size: 14px;
  list-style-type: none;
  color: rgb(130, 86, 143);
}
nav .nav-bar .menu .menu-list li .dropdown:hover li a:hover {
  color: #b3c5f4;
}
nav .nav-bar .menu .menu-list li .dropdown:hover li:hover {
  background-color: rgb(130, 86, 143);
}
nav .nav-bar .menu .menu-list li .menu-list-opt {
  padding: 20px 10px;
  font-size: 14px;
  color: #d1d2f9;
  transition: 0.3s;
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover {
  background-color: rgb(130, 86, 143);
  padding: 20px 10px;
  color: #d1d2f9;
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover ~ .dropdown,
nav .nav-bar .menu .menu-list li .menu-list-opt:hover .dropdown:hover {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #b3c5f4;
  margin-top: 15px;
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover ~ .dropdown li a,
nav .nav-bar .menu .menu-list li .menu-list-opt:hover .dropdown:hover li a {
  margin-top: 5px;
  padding: 5px 5px;
  font-size: 14px;
  list-style-type: none;
  color: rgb(130, 86, 143);
}
nav .nav-bar .menu .menu-list li .menu-list-opt:hover ~ .dropdown li:hover,
nav .nav-bar .menu .menu-list li .menu-list-opt:hover .dropdown:hover li:hover {
  background-color: rgb(130, 86, 143);
}
nav .nav-bar .menu .menu-list li #login-btn {
  color: rgb(130, 86, 143);
  transition: 0.3s;
}
nav .nav-bar .menu .menu-list li #login-btn:hover {
  background-color: rgb(130, 86, 143);
  padding: 5px 30px;
  color: #d1d2f9;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container,
.password-container,
.nick-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px auto;
  width: 30%;
  text-transform: uppercase;
  box-shadow: 0px 0px 5px #c9cad9;
  background-color: #b3c5f4;
}
.login-container .h3-header,
.password-container .h3-header,
.nick-container .h3-header {
  margin-bottom: 30px;
}
.login-container .login-error,
.password-container .login-error,
.nick-container .login-error {
  color: rgb(144, 36, 36);
}
.login-container .login-message,
.password-container .login-message,
.nick-container .login-message {
  color: rgb(52, 144, 36);
}
.login-container .credentials-container,
.login-container .password-change,
.login-container .nick-change,
.password-container .credentials-container,
.password-container .password-change,
.password-container .nick-change,
.nick-container .credentials-container,
.nick-container .password-change,
.nick-container .nick-change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.login-container .credentials-container .credentials,
.login-container .password-change .credentials,
.login-container .nick-change .credentials,
.password-container .credentials-container .credentials,
.password-container .password-change .credentials,
.password-container .nick-change .credentials,
.nick-container .credentials-container .credentials,
.nick-container .password-change .credentials,
.nick-container .nick-change .credentials {
  padding: 10px 0;
}
.login-container .credentials-container .credentials input,
.login-container .password-change .credentials input,
.login-container .nick-change .credentials input,
.password-container .credentials-container .credentials input,
.password-container .password-change .credentials input,
.password-container .nick-change .credentials input,
.nick-container .credentials-container .credentials input,
.nick-container .password-change .credentials input,
.nick-container .nick-change .credentials input {
  padding: 10px 10px;
  border: none;
  background-color: #c3ddfe;
  width: 100%;
  outline: none;
  resize: none;
}
.login-container .credentials-container .credentials input:focus,
.login-container .password-change .credentials input:focus,
.login-container .nick-change .credentials input:focus,
.password-container .credentials-container .credentials input:focus,
.password-container .password-change .credentials input:focus,
.password-container .nick-change .credentials input:focus,
.nick-container .credentials-container .credentials input:focus,
.nick-container .password-change .credentials input:focus,
.nick-container .nick-change .credentials input:focus {
  border: 2px solid rgb(130, 86, 143);
  background-color: #acc6fd;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding: 90px 0;
  width: 100vw;
  background: linear-gradient(180deg, rgba(20, 20, 23, 0) 0%, rgba(20, 25, 41, 0.5788909314) 24%, rgba(69, 81, 94, 0.5872942927) 71%, rgba(31, 36, 30, 0) 90%);
}
.stats-container .stats-title {
  font-size: 50px;
  font-weight: 900;
  color: #c6d8ff;
  font-family: "Bebas Neue", sans-serif;
}
.stats-container .stats-figures table tr td {
  color: #dcddde;
  padding: 5px 15px;
}

.posts-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 50px;
}
.posts-container .post-box {
  min-width: 40vh;
  flex: 2 0 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  height: 200px;
  margin: 15px 20px;
  overflow: hidden;
  box-shadow: 0 0 5px #d1d2f9;
  background-color: #b3c5f4;
  transition: 0.3s;
}
.posts-container .post-box a .post-box-header {
  display: flex;
  justify-content: space-between;
}
.posts-container .post-box a .post-box-header .post-box-title {
  padding: 15px 20px;
  color: rgb(130, 86, 143);
  text-transform: uppercase;
  font-weight: 700;
}
.posts-container .post-box a .post-box-header .post-box-date {
  padding: 15px 20px;
}
.posts-container .post-box a .post-box-text {
  padding: 0 20px;
  text-align: justify;
  color: #3f3f3f;
  padding-bottom: 20px;
}
.posts-container .post-box:hover {
  background-color: #c6d5fb;
}

.main-post-container {
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 40px;
}
.main-post-container .post-header {
  display: flex;
  padding: 80px 100px 0 100px;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-end;
}
.main-post-container .post-header .post-bio .post-title {
  color: rgb(130, 86, 143);
}
.main-post-container .post-header .post-bio .post-author {
  font-size: 12px;
}
.main-post-container .post-header .post-bio .post-date {
  font-size: 10px;
  color: #3f3f3f;
}
.main-post-container .post-header .post-control-panel {
  display: flex;
  column-gap: 15px;
}
.main-post-container .post-header .post-control-panel .post-control-btn {
  border: 1px solid rgb(130, 86, 143);
}
.main-post-container .post-header .post-control-panel .post-control-btn button i {
  font-size: 20px;
}
.main-post-container .post-content {
  padding: 50px 0;
  text-align: justify;
  color: #3f3f3f;
  padding: 40 100px;
}
.main-post-container .post-comment-section {
  padding: 0 10px;
  border-top: 2px solid rgb(130, 86, 143);
  background-color: #7796cb;
}
.main-post-container .post-comment-section .post-new-comment {
  padding: 0 100px;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-header .post-new-comment-author {
  padding: 10px 0;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-header .post-new-comment-author #comment-user {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(130, 86, 143);
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-text {
  padding: 10px 0;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-text form textarea {
  padding: 10px 10px;
  border: none;
  background-color: #c3ddfe;
  width: 100%;
  outline: none;
  resize: none;
}
.main-post-container .post-comment-section .post-new-comment .post-new-comment-text form .form-btn {
  margin: 10px 0;
}
.main-post-container .post-comment-section .post-comment {
  display: flex;
  width: 100vw;
  border-top: 3px solid #a3bcf9;
  background-color: #b3c5f4;
  padding: 40px 100px;
  margin: 5px 0;
}
.main-post-container .post-comment-section .post-comment .post-comment-header {
  width: 150px;
  border-right: 1px solid rgb(130, 86, 143);
}
.main-post-container .post-comment-section .post-comment .post-comment-header .post-comment-profile-img {
  width: 50px;
  height: 50px;
}
.main-post-container .post-comment-section .post-comment .post-comment-header .post-comment-author {
  padding: 5px 0;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(130, 86, 143);
}
.main-post-container .post-comment-section .post-comment .post-comment-content {
  color: #3f3f3f;
  margin-left: 30px;
}
.main-post-container .post-comment-section .post-comment .post-comment-content .post-comment-date {
  font-size: 14px;
  padding: 5px 0;
}
.main-post-container .post-comment-section .post-comment .post-comment-action {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  flex-wrap: nowrap;
  margin-left: auto;
  border: none;
  font-size: 18px;
  color: rgb(130, 86, 143);
}
.main-post-container .post-comment-section .post-comment .post-comment-action i:hover {
  cursor: pointer;
}
.main-post-container .post-comment-section .post-comment .post-comment-action form button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: rgb(130, 86, 143);
}

.main-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-contact-container .contact-header {
  height: 10vh;
  width: 100%;
}
.main-contact-container .contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #81a4d3;
  padding: 20px 0;
}
.main-contact-container .contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  border-right: 1px solid rgb(130, 86, 143);
}
.main-contact-container .contact .contact-form .h3-header {
  font-size: 24px;
  margin-bottom: 50px;
}
.main-contact-container .contact .contact-form form .contact-fields {
  padding: 5px 0;
}
.main-contact-container .contact .contact-form form .contact-fields input {
  padding: 10px 10px;
  border: none;
  background-color: #c3ddfe;
  width: 100%;
  outline: none;
  resize: none;
}
.main-contact-container .contact .contact-form form .contact-fields input:focus {
  border: 2px solid rgb(130, 86, 143);
  background-color: #acc6fd;
}
.main-contact-container .contact .contact-form form .contact-fields textarea {
  padding: 10px 10px;
  border: none;
  background-color: #c3ddfe;
  width: 100%;
  outline: none;
  resize: none;
}
.main-contact-container .contact .contact-form form .contact-fields textarea:focus {
  border: 2px solid rgb(130, 86, 143);
  background-color: #acc6fd;
}
.main-contact-container .contact .contact-form form div .form-btn {
  margin-top: 10px;
}
.main-contact-container .contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.main-contact-container .contact .contact-info .h3-header {
  font-size: 24px;
  margin-bottom: 50px;
}
.main-contact-container .contact .contact-info .contact-general-info {
  line-height: 30px;
  margin-bottom: 10px;
  color: #3f3f3f;
}
.main-contact-container .contact .contact-info .contact-social .fa-brands {
  font-size: 30px;
  padding: 0 5px;
  color: rgb(130, 86, 143);
}

footer {
  position: fixed;
  margin-top: 5px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #7796cb;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
footer .footer-text {
  text-align: center;
  color: #d1d2f9;
  font-size: 12px;
}/*# sourceMappingURL=layout.css.map */